trunk/JAXB-APP/src/main/resources/Golfers.xsd

<?xml version="1.0" standalone="yes"?>
<xs:schema id="Golfers" xmlns=""
	xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:msdata="urn:schemas-microsoft-com:xml-msdata">
	<xs:element name="Golfer">
		<xs:complexType>
			<xs:attribute name="ID" type="xs:int" />
			<xs:attribute name="Name" type="xs:string" />
			<xs:attribute name="Birthday" type="xs:dateTime" />
		</xs:complexType>			
	</xs:element>
</xs:schema>